<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bewellnesspring.alert.model.repository.AlertMapper">

    <insert id="insertAlert">
        <!-- 타입 테이블을 따로 해서 타입id를 넣을지 말지 아직 미정-->
        INSERT INTO alert (user_id,message)
        VALUES(#{userId}, #{message})
    </insert>

    <select id="">

    </select>


</mapper>