<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bewellnesspring.certification.model.repository.CertificationMapper">

	<select id="signIn" parameterType="string" resultType="user">
		SELECT *
		FROM USERS
		WHERE USER_ID = #{userId} AND DELETE_AT IS NULL
	</select>

	<select id="signInAtIdNum" parameterType="long" resultType="user">
		SELECT *
		FROM USERS
		INNER JOIN social using(user_id)
		WHERE platform = 'kakao' and id_num = #{idNum}
	</select>

	<insert id="signUp" parameterType="user">
		INSERT INTO USERS(user_id, user_pw, name, serial_num_f, phone, profile_img, locker)
		VALUES (
		        #{userId},
                #{userPw},
                #{name},
                #{serialNumF},
                #{phone},
                #{profileImg},
		        #{locker}
			   )
	</insert>
	
	<select id="findUserIdWhoAgreeAlram" resultType="user">
		select user_id from users where alarm_agree = '동의';
	</select>
	
	<insert id="addKakao" parameterType="social">
		INSERT INTO SOCIAL(user_id, id_num, platform)
		VALUES (
	        #{userId},
            #{idNum},
            #{platform}
   		)
	</insert>
	
	<update id="uploadProfile" parameterType="user">
		UPDATE USERS
		SET 
			NAME = #{name},
			PHONE = #{phone},
			SERIAL_NUM_F = #{serialNumF},
			PROFILE_IMG = #{profileImg},
			HEIGHT = #{height},
			WEIGHT = #{weight},
			LOCKER = #{locker}
		WHERE USER_ID = #{userId}
	</update>
	
	<update id="deleteProfile" parameterType="string">
		UPDATE USERS
		SET DELETE_AT = NOW()
		WHERE USER_ID = #{userId}
	</update>
	
	<delete id="deleteSocial" parameterType="string">
		DELETE FROM SOCIAL
		WHERE USER_ID = #{userId}
	</delete>
</mapper>