<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bewellnesspring.certification.model.repository.CertificationMapper">

	<select id="signIn" parameterType="string" resultType="user">
		SELECT *
		FROM users
		WHERE user_id = #{userId}
	</select>

	<select id="signInAtIdNum" parameterType="long" resultType="user">
		SELECT *
		FROM users
		INNER JOIN social using(user_id)
		WHERE platform = 'kakao' and id_num = #{idNum}
	</select>

	<insert id="signUp" parameterType="user">
		INSERT INTO users(user_id, user_pw, name, serial_num_f, phone, locker)
		VALUES (
		        #{userId},
                #{userPw},
                #{name},
                #{serialNumF},
                #{phone},
		        #{locker}
			   )
	</insert>
	
	<select id="findUserIdWhoAgreeAlram" resultType="user">
		select user_id from users where alarm_agree = '동의';
	</select>
	
	<insert id="addKakao" parameterType="social">
		INSERT INTO social(user_id, id_num, platform)
		VALUES (
	        #{userId},
            #{idNum},
            #{platform}
   		)
	</insert>
</mapper>