<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bewellnesspring.sport.model.repository.SportRecordMapper">

    <insert id="saveRecord" parameterType="SportRecord" useGeneratedKeys="true" keyProperty="id">
    INSERT INTO sport_Record (user_id, total_sport_start, total_sport_end, total_duration, total_burn_kcal )
     VALUES (#{userId}, #{totalSportStart}, #{totalSportEnd}, #{totalDuration}, #{totalBurnKcal})
    </insert>
    <update id="updateRecord" parameterType="SportRecord">
        UPDATE sport_Record
        set total_sport_start = #{totalSportStart},
        total_sport_end = #{totalSportEnd},
        total_duration = #{totalDuration},
        total_burn_kcal = #{totalBurnKcal}
        where id = #{id}
    </update>
    <select id="findRecordById" parameterType="Long" resultType="SportRecord">
        select * from sport_record where id = #{id}
    </select>

    <delete id="deleteRecord" parameterType="Long">
        DELETE FROM sport_record where id = #{id}
    </delete>

    <resultMap id="SportRecordResultMap" type="SportRecordDTO">
        <id column="id" property="id"/>
        <result column="user_id" property="userId"/>
        <result column="total_sport_start" property="totalSportStart"/>
        <result column="total_sport_end" property="totalSportEnd"/>
        <result column="duration" property="totalDuration"/>
        <result column="burn_kcal" property="totalBurnKcal"/>

        <!-- SportPlanItem의 리스트를 매핑 -->
        <collection property="items" ofType="SportItemDTO">
            <result column="sport_start" property="sportStart"/>
            <result column="sport_end" property="sportEnd"/>
            <result column="duration" property="duration"/>
            <result column="burn_kcal" property="burnKcal"/>
            <result column="sport_name" property="sportName"/>
            <result column="kcal" property="kcal"/>
        </collection>
    </resultMap>

    <select id="findSportRecordWithName" resultMap="SportRecordResultMap">
        SELECT  sr.*, sri.sport_start, sri.sport_end, sri.duration, sri.burn_kcal, sc.sport_name, sc.kcal
        FROM sport_record sr
                 JOIN sport_record_item sri ON sr.id = sri.sport_record_id
                 JOIN sport_category sc ON sc.id = sri.sport_category_id
        WHERE sr.user_id = #{userId}
    </select>


</mapper>