<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bewellnesspring.sport.model.repository.SportRecordMapper">

    <insert id="saveRecord" parameterType="SportRecord" useGeneratedKeys="true" keyProperty="id">
    INSERT INTO sport_Record (user_id, total_sport_start, total_sport_end, total_duration, total_burn_kcal )
     VALUES (#{userId}, #{total_sport_start}, #{total_sport_end}, #{total_duration}, #{total_burn_kcal})
    </insert>
    <update id="updateRecord" parameterType="SportRecord">
        UPDATE sport_Record
        set total_sport_start = #{total_sport_start},
        total_sport_end = #{total_sport_end},
        total_duration = #{total_duration},
        total_burn_kcal = #{total_burn_kcal}
        where id = #{id}
    </update>


</mapper>